@import url(https://fonts.googleapis.com/css?family=Baloo+2:400);
@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
}

html,
body {
  height: 100%;
  font-family: "Baloo 2" !important;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
