@import url(https://fonts.googleapis.com/css?family=Arvo);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
}

html,
body {
  height: 100%;
  font-family: "Montserrat";
  margin: 0;
}

/* ::-webkit-scrollbar {
  width: 0;
  background: transparent;
} */

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 2.5rem;
  /* align-items: center; */
  height: 20px;
  /* justify-content: center; */
  /* z-index: 1000; */
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}
