@import url(https://fonts.googleapis.com/css?family=Arvo);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
}

html,
body {
  height: 100%;
  font-family: "Montserrat";
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
